/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-image-outline: #222222;
    --white: #FBFBFB;
    --text-color: #201A23;
    --purple: #9E4770;
    --background: #F5F9E9;
    --button-bg-color: #E6BEAE;
    --button-outline-color: black;
    --button-text-shadow: 1px 1px 2px #222222, -1px -1px 2px #222222;
    --sales-bg-color: #FFC4EB;
    --dark-purple: #44354A;
    --sales-color:  #E6BEAE;
}

.dark-mode {
    --main-image-outline: purple;
    --black: #201A23;
    --text-color: #fbfbfb;
    --white-background: #F5F9E9;
    --light-purple: #9E4770;
    --dark-purple: #44354A;
    --button-outline-color: purple;
    --button-text-shadow: 1px 1px 2px purple, -1px -1px 2px purple;
    --button-bg-color: #E6BEAE;
    --background: #2c1c2c;
    --sales-color: #44354A;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.live .main-heading {
    font-size: 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    justify-content: center;
    border: 8px solid var(--button-outline-color);
    padding: 20px;
}

#main-image {
    border-radius: 50%;
    width: 12rem;
    margin-bottom: 10px;
    outline: 8px solid var(--main-image-outline);
    display: block;
}
 
.container .btn {
    background-color: var(--button-bg-color);
    outline: 2px solid var(--button-outline-color);
    text-shadow: var(--button-text-shadow);
}

.btn {
    background-color: var(--button-bg-color);
    display: inline-block;
    border-radius: 0.2rem;
    padding: 0.5rem 2.5rem;
    margin: 1rem;
    font-size: 2rem;
}
.btn:hover {
    filter: brightness(1.2);
}
.btn:active {
    filter: brightness(0.8);
}

label {
    width: 75px;
    height: 25px;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

label::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2.5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius:180px;
    box-shadow:  0px 5px 10 px rgba(0,0,0,0.2);
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #242424 
}

input:checked + label:after {
    left: calc( 100% - 15%);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
label, label::after {
    transition: 0.3s
}
label:active:after {
    width: 26px;
}
.sales {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sales-color);
    border-radius: 30px;
    padding: 20px;
    width: 30rem;
    height: 1rem;
    font-weight: bold;
    line-height: 15px;
    margin-right: 20px;
    outline: 4px solid var(--button-outline-color) ;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.live {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.total {
    font-weight: bold;
    font-size: 1.26rem;
}

.Revenue {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    text-align: center;
    margin-top: 2rem;
}

 #name {
    background-color: var(--sales-color);
    border-radius: 30px;
    padding: 20px;
    width: 10rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    outline: 4px solid var(--button-outline-color) ;
}
